body {
  background-color: 2667FF;
    color: rgb(255, 251, 240);
    font-family: 'Montserrat Alternates', sans-serif;
    max-width: 1000vh;
}

h1 {
  font-size: 200px;
  margin-bottom: 20px;
  margin-top: 40px;

}
a, a:visited {
  color: white;
}



 /* Center the loader */
 #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #21ff3b;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  img{
    width: 150px;
  }
  #myDiv {
    display: none;
    text-align: center;
  }