body {
  background-color: 2667FF;
  color: rgb(255, 251, 240);
  font-family: 'Montserrat Alternates', sans-serif;
  max-width: 1000vh;
}




/*.contenedor{
   
    
}

/* 
COLORES DE tODAS LAS PAGS
3370ff AZUL FONDO
a8edab VERDE RECUADRES
91bf27 VERDE CODIGO
BLACK FONDO
*/

#blankspace {
  width: 100vh;
}

#portada {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/circulito\ 2.png);
  background-position: center;
  height: 100vh;
  margin-top: 30px;
}

#portada h1 {
  font-size: 100px;
  margin-block-end: 0.3em;
  font-weight: 400;
  box-sizing: border-box;
}

#portada {
  visibility: visible;
  -webkit-animation: fadein 5s;
  animation: fadein 5s;

}

#portada h2 {

  font-size: 80px;
  margin-block-start: 0px;
  font-weight: 400;
  box-sizing: border-box;
}

#portada h4 {
  font-size: 40px;
  font-weight: 400;
}

#presento {
  height: 100vh;
  background-image: url(img/Sin\ título-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60%;
}

#presento h2 {
  font-size: 80px;
  margin-left: 4%;
  margin-top: 10%;
  width: 40%;
  margin-block-end: 0em;
  font-weight: 400;
  box-sizing: border-box;
}


#presento article {
  width: 40%;
  background-color: #baf0bd;
  border-radius: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 50%;
  margin-right: 2%;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  box-sizing: border-box;

}

.titulos {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1px;
}

#presento p {
  margin-bottom: 10px;

}

#iraform {
  margin-top: 15px;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  background-color: #50d894;
  border-radius: 6px;
  border: 2px solid #155f3545;
}

#iraform:hover {
  color: #155f35b1;
  background-color: #35fc98;
}

/*  ||FORMULARIO DE SUSCRIPCIÓN||  */


/* Full-width input fields */
.container {
  background-color: white;
  color: black;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn {
  font-family: sans-serif;
  font-weight: 200;
  font-size: medium;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0%;
}

button:hover,
.signupbtn:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;

}

/* Add padding to container elements */
.container {
  padding: 16px;
  margin: 20%;
  margin-top: 10%;
  margin-bottom: 10%;

}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/*    || FIN FORMULARIO ||       */

/*////////////////////////////////////////////*/

/*    || ERROR ERROR ERROR  ||    */

#nope {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#nope.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;

}

/*    || FILL FILL FILL  ||    */
#refill {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#refill.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/*    || FIN ERROR AND FILL||     */

/*////////////////////////////////////////////*/

/*    || ANIMATION ||     */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/*    || FIN ANIMATION ||     */

/*////////////////////////////////////////////*/

/*    || RESPONSIVE||     */

@media screen and (max-width:950px) {

  #portada {
    background-size: 120%;
    background-repeat: no-repeat;
  }

  #portada h1 {
    font-size: 45px;
    margin-block-end: 0.3em;
    font-weight: 400;
    box-sizing: border-box;
  }

  #portada h2 {

    font-size: 35px;
    margin-block-start: 0px;
    font-weight: 400;
    box-sizing: border-box;
  }

  #portada h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 3px;
  }

  #presento {
    height: 100vh;
    background-image: url(img/Sin\ título-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 550px;
  }

  #presento h2 {
    font-size: 40px;
    margin-left: 4%;
    margin-top: 10%;
    width: 40%;
    margin-block-end: 0em;
    font-weight: 400;
    box-sizing: border-box;

  }

  #presento article {
    width: 55%;
    background-color: #baf0bd;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 2%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-sizing: border-box;

  }

}

@media screen and (max-width:700px) {

  #portada {
    background-size: 200%;
    background-repeat: no-repeat;
  }

  #portada h1 {
    font-size: 35px;
    margin-block-end: 0.3em;
    font-weight: 400;
    box-sizing: border-box;
  }

  #portada h2 {

    font-size: 30px;
    margin-block-start: 0px;
    font-weight: 400;
    box-sizing: border-box;
  }

  #portada h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 3px;
  }

  #presento {
    height: 100vh;
    background-image: url(img/Sin\ título-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200%;
  }

  #presento h2 {
    font-size: 35px;
    margin: 0%;
    width: 100%;
    margin-block-end: 0em;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
  }


  #presento article {
    width: 95%;
    background-color: #baf0bd;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 2%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .titulos {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1px;
    text-align: center;
  }

  #presento p {
    margin-bottom: 10px;
    font-size: small;
    text-align: center;
  }

  a {
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    background-color: #50d894;
    border-radius: 6px;
    border: 2px solid #155f3545;
    text-align: center;

  }

  a:hover {
    color: #155f35b1;
    background-color: #35fc98;
  }

  .container {
    padding: 16px;
    margin: 5%;
  }

}